
header{
  height: 3vh;
  background-color: blue;
}
.header .logo{
  height:2rem;
}
footer{

  min-height: 8vh;
  
  /* bottom: 0; */
}
.main{
  min-height: 89vh;
  

  background-image: url(../assets/img/concert-crowd.png);
  background-size: cover;
  background-repeat: no-repeat;

  
}
.cards-container{
  min-height: 70vh;
}
section img{
  height:200px;
}

.icono{
width: 50px;
color: white;
}

.icon-container{
  width: 25%;
}

.form-container{
  height: 50vh;
}

.big-card{
  background-color: black;
  width: 80%;
  height:80vh;
  margin-top: .4rem;
  
}
.img-card{
  height:50vh;
}
.div-table{
  width: 100%;
  height: 80vh;
}